<div class="overflow-x-auto shadow-lg">
	<table class="table w-full">
		<thead>
			<tr>
				<th></th>
				<th>Date</th>
				<th>Detail</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<template x-for='(todo, index) in data.todo.list' :key='index'>
				<tr>
					<th x-text='`${index +1}`'></th>
					<td x-text='todo.date'></td>
					<td x-text='todo.detail'></td>
					<td x-text='todo.status'></td>
					<td>
						<div class="flex flex-row">
							<span class="mx-2"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                 </svg>
                </span>

                 <span class="mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                </span>
            </div>
        </td> 
      </tr>
    </template>  
    </tbody>
  </table>
</div>